version: '3.7'
services:
  php-apache-environment:
    container_name: cirp_app
    build:
      context: ./docker
      dockerfile: Dockerfile
    depends_on:
      - database
    image: php:8.0-apache
    environment:
        VIRTUAL_HOST: cirp_app.localhost
    volumes:
      - ./src:/var/www/html
      - ./docker/init.sh:/app/init/init.sh
    ports:
      - 8082:80
    # command: bash -c "/app/init/init.sh"
  database:
    container_name: cirp-database
    image: mysql
    restart: always
    environment:
      MYSQL_USER: cirp
      MYSQL_PASSWORD: pass1234
      MYSQL_DATABASE: cirp
      MYSQL_ROOT_PASSWORD: pass1234
      MYSQL_ROOT_HOST: '%'
    ports:
      - "9908:3306"
  phpmyadmin:
    container_name: cirp-phpmyadmin
    image: phpmyadmin/phpmyadmin
    links:
      - database
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
    ports:
      - '8084:80'
    volumes:
      - /sessions
